@import "settings.scss";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: $font-text;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
  background-color: $color-background;
  // height: 10000px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

@import "./typography.scss";
