$color-white: #fff;
$color-black: #000;
$color-light-yellow: #f1c40f;
$color-dark-blue: #2980b9;
$color-background: #f0f0f0;

$font-text: 'Poppins', sans-serif;
$base-size: 12px;
$transition: all 0.8s;
